@font-face {
  font-family: "iconfont"; /* Project id 3903309 */
  src: url('iconfont.woff2?t=1677828415079') format('woff2'),
       url('iconfont.woff?t=1677828415079') format('woff'),
       url('iconfont.ttf?t=1677828415079') format('truetype');
}

	.iconfont {
		font-family: "iconfont" !important;
		font-size: 36rpx;
		padding-right: 10rpx;
		position: relative;
		bottom: 1rpx;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

.icon-tuichudenglu:before {
  content: "\e695";
}

.icon-yidaoda:before {
  content: "\e603";
}

.icon-yiquxiao:before {
  content: "\e602";
}

.icon-yiwancheng:before {
  content: "\e601";
}

.icon-yuyuezhong:before {
  content: "\eddc";
}

.icon-guahaoyuyue:before {
  content: "\ec9a";
}

.icon-dianhua1:before {
  content: "\e616";
}

.icon-zaixian:before {
  content: "\e658";
}

.icon-yuanquan_guanbi:before {
  content: "\e63b";
}

.icon-shijianbiao:before {
  content: "\e6d7";
}

.icon-tongzhi:before {
  content: "\e60e";
}

.icon-dianhua:before {
  content: "\e600";
}

.icon-ego-reservationfull:before {
  content: "\e615";
}

.icon-zhuanfa-mian:before {
  content: "\e639";
}

.icon-xiugaimima:before {
  content: "\e61e";
}

.icon-jiuzhen:before {
  content: "\e60f";
}

.icon-arrowright:before {
  content: "\e694";
}

